h1 {
    font-weight: 800 !important;
    padding: 0px !important;
    color: white;
    text-transform: uppercase;
    font-size: 27px !important;
}

h2, h3 {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 35px;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    margin: 5px 0 0 0;
}

table.form-table {
    border-spacing: 0;
    border-collapse: separate;
    margin: 10px 0 43px 0;
    border: 20px solid #fff;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -6px #00000021;
}

table.cac-auth-custom-fields td {
    background: #ececec;
    padding: 10px;
    border: 1px solid #ececec;
    border-radius: 3px;
}

table.cac-auth-custom-fields input {
    min-height: 39px;
    border: none;
}

button.button.button-secondary.cac-auth-add-field {
    margin-top: 15px;
}

.settings-header {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    background: linear-gradient(to right, #1e3740, #1f7b8a);
    padding: 15px;
}

.settings-header svg {
    fill: white;
    height: 22px;
    width: 33px;
}

.disabled-style {
    opacity: 0.5;
    pointer-events: none !important;
}

.wp-core-ui .notice.is-dismissible {
    padding-right: 38px;
    position: relative;
    margin: 0 0 0 35px;
    background: none;
    color: white;
    border-top: none;
    border-right: none;
    border-bottom: none;
}

button.notice-dismiss::before {
    color: white;
    font: normal 13px / 21px dashicons;
}

.cac-auth-custom-fields .disabled {
    opacity: 0.5;
    pointer-events: none;
}

.small-desc {
    font-size: 11px;
    font-style: italic;
    color: #1f7280;
    padding: 0px;
}

.cac-auth-remove-csv {
    padding: 0px !important;
    border: none !important;
    background: none !important;
    margin-top: -8px !important;
    margin-left: 5px !important;
    color: red !important;
}

.cac-auth-remove-csv:focus {
    box-shadow: none !important;
    outline: none !important;
}

.security-mitigations {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.security-mitigations li {
    color: #16850a;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: start;
}

ul.security-mitigations li::before {
    font-family: dashicons;
    content: "\f332";
    font-size: 18px;
    margin-right: 10px;
    line-height: 1em;
}

.form-footer {
    font-size: 11px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-style: italic;
}

.form-footer a {
    color: #df2e2f;
}

.form-footer a:hover {
    text-decoration: underline;
}