/* CAC Registration Form Styles */
.cac-registration-form {
    max-width: 450px;
    margin: 0 auto;
    padding: 35px;
    background-color: #e9eaec;
    border-radius: 5px;
}

.cac-registration-form h2 {
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
}

.cac-registration-form .form-field {
    margin-bottom: 20px;
}

.cac-registration-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.cac-registration-form input[type="text"],
.cac-registration-form input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cac-registration-form select {
    width: 100%;
    padding: 14px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cac-registration-form input[type="submit"] {
    width: 100%;
    padding: 12px 10px;
    background-color: #1e1e1e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer !important;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
    transition: all .3s ease;
}

.cac-registration-form input[type="submit"]:hover {
    background-color: #343434;
}

.cac-registration-error {
    color: red;
    margin-bottom: 10px;
}

/* Admin Settings Page Styles */
.cac-auth-custom-fields {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cac-auth-custom-fields th,
.cac-auth-custom-fields td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.cac-auth-custom-fields input[type="text"] {
    width: 100%;
    padding: 5px;
}

.cac-auth-custom-fields .button {
    margin-right: 5px;
}

.form-subtitle {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 35px;
    text-align: center;
}

input::placeholder {
    opacity: .35;
}

.cac-registration-form label::after {
    content: ":";
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.form-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.form-header svg {
    fill: #df2f2f;
    height: 50px;
}